<div id="page">
		<div id="content">

<h3> 			We conduct a broad range of fun-filled, hands-on workshops in Science, Computer Programming and Engineering for learners under 15 years. Our workshops are designed to help kids understand the concepts and create things that are simple and fun to do ! 

	

	
	<br>
	<br>
		We offer after-school weekday, weekend classes during the academic year. We conduct one-day, two-day workshops during the school holiday breaks. We also offer week-long camps during the summer and winter holidays.
<br>

		<br>
	 <a href= http://thinkdiffskool.tumblr.com/ ><font color = #000000;><b> CURRENT/UPCOMING PROGRAMS </a> </b>
		<br>
		<br>
   <a href= http://thinkdiffskool.tumblr.com/pastprograms/ ><font color = #000000;><b>PAST PROGRAMS </a> </b><br><br>
			
		Give your kids a head start and an experience of joyful learning!
	
		
		</div>
		</div>
		<div id="three-column">
			<div id="tbox1">
	
					<img src="/assets/wordle.png" width= 300px; height=240px;/>
		
			</div>
			<div id="tbox2">
				<img src="/assets/cognitive.jpeg" width= 300px; height=240px;/>	
				
			</div>
			<div id="tbox3">
			<img src="/assets/problemsolving.jpg" width= 320px; height=240px;/>		
			</div>
			</div>
			
		
		