<div id="page">
		<div id="content">

<h3> 			We conduct a broad range of fun-filled, hands-on workshops in Science, Computer Programming and Engineering for learners under 15 years. Our workshops are designed to help kids understand the concepts and create things that are simple and fun to do ! The larger objective behind our workshops is to inspire the creator within each of us. Furthermore, by providing a path to follow, our workshops strive to enable dreamers to become designers and designers to become builders. 

	

	
	<br>
	<br>
		We offer after-school weekday, weekend classes during the academic year. We conduct one-day, two-day workshops during the school holiday breaks. We also offer week-long camps during the summer and winter holidays.
<br>

		<br>
		 To know more about our upcoming programs, please click here : <a href= http://thinkdiffskool.tumblr.com/ ><font color = #000000;><b>http://thinkdiffskool.tumblr.com </a> </b>
		<br>
		<br>
		Give your kids a head start and an experience of joyful learning!
		
		
		</div>
		</div>
		<div id="three-column">
			<div id="tbox1">
	
					<img src="/assets/wordle.png" width= 300px; height=240px;/>
		
			</div>
			<div id="tbox2">
				<img src="/assets/cognitive.jpeg" width= 300px; height=240px;/>	
				
			</div>
			<div id="tbox3">
			<img src="/assets/problemsolving.jpg" width= 320px; height=240px;/>		
			</div>
			</div>
			
		
		