
<div id="page">
<div id="content">

<h3>
The larger objective behind our workshops is to inspire the creator within each of us. We strive to enable dreamers to become designers and designers to become builders. We want to instill a love of activity in our kids and motivate our kids to make it a part of their everyday routine. <br><br>Developing competence and excellence requires practice, learning from mistakes and a long-term approach to mastery. We encourage and request the parents to send photographs/videos of their kids' little experiments at home. Take a look at our little scientists in action. 

	<br>
	<br>
	


<embed type="application/x-shockwave-flash" src="https://static.googleusercontent.com/external_content/picasaweb.googleusercontent.com/slideshow.swf" width="288" height="192" flashvars="host=picasaweb.google.com&hl=en_US&feat=flashalbum&RGB=0x000000&feed=https%3A%2F%2Fpicasaweb.google.com%2Fdata%2Ffeed%2Fapi%2Fuser%2F118189999662862252212%2Falbumid%2F5950958114729877537%3Falt%3Drss%26kind%3Dphoto%26hl%3Den_US" pluginspage="http://www.macromedia.com/go/getflashplayer"></embed>

</div>
</div>